$font-stack: Helvetica, sans-serif;
$primary-color: #333;

$theme-colors: (
  "primary": #f08080,
  // pon el código de color que prefieras,
  "secundary": #0000ff,
  "sucess": #add8e6,
);

$ancho: 100%;
